[Unit]
Description=Envirocam Status Service
After=envirocam-logging-socket.service

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/dev/timelapse/scripts/updateStatus.py

[Install]
WantedBy=timers.target
