[Unit]
Description=Envirocam Telemetry Service
After=envirocam-logging-socket.service

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/dev/timelapse/scripts/saveTelemetry.py
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
