[Unit]
Description=Envirocam Photos Service
After=envirocam-logging-socket.service

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/bash /home/pi/dev/timelapse/scripts/savePhotos.sh
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
