[Unit]
Description=Envirocam SMS Service
After=envirocam-logging-socket.service

[Service]
Type=idle
User=pi

ExecStart=/usr/bin/bash /home/pi/dev/timelapse/scripts/handleSMS.sh

[Timer]
OnBootSec=60
OnCalendar=*-*-* *:*/5:00


[Install]
WantedBy=timers.target
