[Unit]
Description=Envirocam Telemetry Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/dev/timelapse/scripts/saveTelemetry.py
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
