[Unit]
Description=Envirocam Hang Detection Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/dev/timelapse/scripts/detectHang.py

[Install]
WantedBy=timers.target
