[Unit]
Description=Envirocam SMS Service
After=envirocam-logging-socket.service

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/dev/timelapse/scripts/handleSMS.py

[Install]
WantedBy=timers.target
