[Unit]
Description=Envirocam Upload Service
After=envirocam-logging-socket.service

[Service]
Type=idle
User=pi
#ExecStartPost=/bin/sleep 60
ExecStart=/usr/bin/python3 /home/pi/dev/timelapse/scripts/uploadPending.py
Restart=always
RestartSec=60
#TimeoutStartSec=120

[Install]
WantedBy=multi-user.target
