@page
@model timelapse.api.Pages.ManageOrganisationModel
@{
    ViewData["Title"] = "Manage Organisation";
}

<div>
    <table class="table">
        <thead>
            <th>
                Name
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model.Organisations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Organisations.Count > 0)
    {
        <a asp-page="./Index">Back to List</a>
    }
    else
    {
        <div>
            No Organisations found
            <a asp-page="./Create">Create New</a>
        </div>
        <a asp-page="./Index">Back to List</a>
    }
</div>