@page
@{
    ViewData["Title"] = "Not Found";
}

<h1>
    Resource not found.
</h1>
<div class="bg-image" style="background-image: url('images/bg-404.jpg'); height: 100vh; opacity:50%">
</div>
<footer>
    Image source:  CC0 1.0 Universal (CC0 1.0) <a href="https://commons.wikimedia.org/wiki/User:Kotivalo">Kotivalo</a> <a href="https://commons.wikimedia.org/wiki/File:Loading_35mm_film_into_old_SLR_camera.jpg"></a>
</footer>
