@page
@model timelapse.api.Pages.OrganisationsModel
@{
    ViewData["Title"] = "Organisations";
}

<div>
    <table class="table">
        <thead>
            <th>
                Name
            </th>
        </thead>
        <tbody>
            @foreach (var item in Model.Organisations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Organisations.Count > 0)
    {
        <a asp-page="./Index">Back to Home</a> <br>
        <a asp-page="./CreateOrganisation">Create New Organisation</a>
    }
    else
    {
        <p> No Organisations found </p>
        <a asp-page="./Index">Back to Home</a>
    }
</div>